:root {
	--clr-primary: #eb4d4b;
	--clr-gray: #37474f;
	--clr-gray-light: #b0bec5;

	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;
	/* hovers */
	--danger-color-hover:#a03a39;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;

}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}

.light .logo-dark, .light .light-icon {
	display: none;
}

.dark .logo-light, .dark .dark-icon {
	display: none;
	border-radius:50%;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}


.view{
    height: 268px !important;
}

.firstSlide{
    height: 260px;
    max-width: 370px;
    display: flex;    
    margin-right: 10%;
    margin-left: auto;
}
.secondSlide{
    height: 230px;
    max-width: 330px;
    display: flex;    
    margin-right: 10%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.index {
    width: 100vw;
    height: 100vh;
}


.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
.badge{
    display:block;
}

.rate-popover {
    display: block;
    cursor: pointer;
} 

.stripe{
    background-color: rgba(255, 0, 0, 0.8);
    color:#fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8rem;
    text-align: center;
}

.stepper {
    display: flex;

    /* Border */
    border: 1px solid rgba(0, 0, 0, .3);

    /* Size */
    height: 32px;
    width: 128px;
}

.stepper__button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    width: 32px;
}

.stepper__content {
    flex: 1;
}

.stepper__input {
    /* Take full size of its container */
    height: 100%;
    width: 100%;
}

.bg-shop{
    background-image: repeat;
}

.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}
.profile{
    font-size: 16px;
    max-width: 800px;
    padding: 0 20px 20px;
    margin: 0 auto;
}

.section {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 15px;
    
    
}
.profile .profile-card {
    margin-bottom: 36px;
    position: relative;
    padding: 0;
}
.andes-card--flat {
    box-shadow: 1px 3px 20px 0 rgb(0 0 0 / 12%);
}
.andes-card {
    border-radius: 6px;
    background-color: #fff;
}
.andes-card>:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.row__value {
    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 16px;
    padding: 13px 18px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.76);
}
.extraReferences{
    resize: none;
    width: 529px;
    height: 86px;
    border: 1px solid rgba(0,0,0,.25);
    background-color: #fff;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}
.address{
    margin-top: -1px;
    vertical-align: middle;
    
}
@media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
   
    
}

.andes-form-control__message {
    min-height: 14px;
}
.andes-form-control__message {
    font-size: 14px;
    line-height: 1em;
    color: rgba(0,0,0,.45);
    margin-top: .3333333333em;
    opacity: 0;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    text-align: left;
}
.andes-form-control__message {
    display: block;
    width: 100%;
}
.thumb{
    display:flex;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
  .input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
  }
  .input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
  }
/*   */


/* list_address */
.ch-hide,[hidden]{display:none}.ch-hidden{visibility:hidden;position:absolute!important;top:-9999px!important}.ch-ellipsis{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ch-actions{margin:20px 0 0}.ch-actions a{margin:0 0 0 15px}.ch-user-no-select{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@font-face{font-family:icons;src:url(../fonts/icons-21362325e4.eot);src:url(../fonts/icons-21362325e4.eot?#iefix) format("embedded-opentype"),url(../fonts/icons-cfba75c32f.woff) format("woff"),url(../fonts/icons-a0dbbe7f39.ttf) format("truetype"),url(../fonts/icons-19508368c4.svg#icons) format("svg");font-weight:400;font-style:normal}[class*=ch-icon-]{text-align:center;display:inline-block;vertical-align:middle;line-height:.9em;height:16px;width:16px;font-size:19px;margin:5px}.ch-icon-large,.ch-icon-x-large,.ch-icon-xx-large{margin:10px}.ch-icon-large{height:24px;width:24px;font-size:26px}.ch-icon-x-large{height:32px;width:32px;font-size:34px}.ch-icon-xx-large{height:64px;width:64px;font-size:66px}.ch-box-list li a:after,.ch-tag:after,[class*=ch-icon-]:before{font-family:icons;font-weight:400;font-style:normal;text-decoration:none;display:inline-block}.ch-tag:after,[class*=ch-icon-]{color:#666}.ch-tag:after,[class*=' ch-icon-']:before,[class^=ch-icon-]:before{left:0}[class*=ch-btn] [class*=ch-icon-]{margin:0 5px 0 0;font-size:15px;line-height:1em}.ch-icon-search:before{content:'\f002'}.ch-icon-heart:before{content:'\f004'}.ch-icon-star:before{content:'\f005'}.ch-icon-star-empty:before{content:'\f006'}.ch-icon-user:before{content:'\f007'}.ch-icon-th-large:before{content:'\f009'}.ch-icon-th:before{content:'\f00a'}.ch-icon-th-list:before{content:'\f00b'}.ch-icon-ok:before{content:'\f00c'}.ch-icon-remove:before{content:'\f00d'}.ch-icon-zoom-in:before{content:'\f00e'}.ch-icon-zoom-out:before{content:'\f010'}.ch-icon-cog:before{content:'\f013'}.ch-icon-trash:before{content:'\f014'}.ch-icon-time:before{content:'\f017'}.ch-icon-repeat:before{content:'\f01e'}.ch-icon-refresh:before{content:'\f021'}.ch-icon-print:before{content:'\f02f'}.ch-icon-camera:before{content:'\f030'}.ch-icon-pencil:before{content:'\f040'}.ch-icon-map-marker:before{content:'\f041'}.ch-icon-move:before{content:'\f047'}.ch-icon-chevron-left:before{content:'\f053'}.ch-icon-chevron-right:before{content:'\f054'}.ch-icon-plus-sign:before{content:'\f055'}.ch-icon-minus-sign:before{content:'\f056'}.ch-icon-remove-sign:before{content:'\f057'}.ch-icon-ok-sign:before{content:'\f058'}.ch-icon-help-sign:before{content:'\f059'}.ch-icon-info-sign:before{content:'\f05a'}.ch-icon-ban-circle:before{content:'\f05e'}.ch-icon-arrow-left:before{content:'\f060'}.ch-icon-arrow-right:before{content:'\f061'}.ch-icon-arrow-up:before{content:'\f062'}.ch-icon-arrow-down:before{content:'\f063'}.ch-icon-plus:before{content:'\f067'}.ch-icon-minus:before{content:'\f068'}.ch-icon-exclamation-sign:before{content:'\f06a'}.ch-icon-warning-sign:before{content:'\f071'}.ch-icon-calendar:before{content:'\f073'}.ch-icon-comment:before{content:'\f075'}.ch-icon-chevron-up:before{content:'\f077'}.ch-icon-chevron-down:before{content:'\f078'}.ch-icon-key:before{content:'\f084'}.ch-icon-comments:before{content:'\f086'}.ch-icon-lock:before{content:'\f023'}.ch-icon-unlock:before{content:'\f09c'}.ch-icon-wrench:before{content:'\f0ad'}.ch-icon-group:before{content:'\f0c0'}.ch-icon-copy:before{content:'\f0c5'}.ch-icon-paper-clip:before{content:'\f0c6'}.ch-icon-reorder:before{content:'\f0c9'}.ch-icon-truck:before{content:'\f0d1'}.ch-icon-caret-down:before{content:'\f0d7'}.ch-icon-caret-up:before{content:'\f0d8'}.ch-icon-caret-left:before{content:'\f0d9'}.ch-icon-caret-right:before{content:'\f0da'}.ch-icon-sort:before{content:'\f0dc'}.ch-icon-sort-down:before{content:'\f0dd'}.ch-icon-sort-up:before{content:'\f0de'}.ch-icon-envelope-alt:before{content:'\f0e0'}.ch-icon-undo:before{content:'\f0e2'}.ch-icon-comment-alt:before{content:'\f0e5'}.ch-icon-comments-alt:before{content:'\f0e6'}.ch-icon-phone:before{content:'\f095'}a,abbr,address,article,aside,audio,b,big,blockquote,body,canvas,caption,cite,code,datalist,dd,del,details,dfn,dialog,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,label,legend,li,main,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,s,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,u,ul,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}menu,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{font-family:Arial,Helvetica,Nimbus Sans L,sans-serif;font-size:13px;line-height:20px;padding:0 10px;background-color:#fff;color:#333;margin:0 auto}hr{border:none;border-bottom:1px dashed #ccc}a img{border:none}p+p{margin:1em 0 0}[class*=ch-btn],[class*=ch-btn]:focus{font-family:Arial,Helvetica,Nimbus Sans L,sans-serif;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;display:inline-block;height:auto;text-decoration:none;font-size:18px}[class*=ch-btn]:focus,button:focus,input[type=button]:focus,input[type=file]::-webkit-file-upload-button:focus,input[type=reset]:focus,input[type=submit]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.ch-btn,.ch-btn:focus,.ch-btn:visited,a.ch-btn{background-color:#3e52a1;background-image:-webkit-linear-gradient(#3e52a1,#2d3277);background-image:-webkit-gradient(linear,left top,left bottom,from(#3e52a1),to(#2d3277));background-image:linear-gradient(#3e52a1,#2d3277);-webkit-box-shadow:0 1px 0 #7a89e8 inset;box-shadow:inset 0 1px 0 #7a89e8;border:1px solid #2d3277;color:#fff}.ch-btn-skin,.ch-btn-skin:focus,.ch-btn-skin:visited,a.ch-btn-skin{background-color:#cce3f7;background-image:-webkit-linear-gradient(#cce3f7,#aad0ef);background-image:-webkit-gradient(linear,left top,left bottom,from(#cce3f7),to(#aad0ef));background-image:linear-gradient(#cce3f7,#aad0ef);border:1px solid #79a8c7;-webkit-box-shadow:0 1px 0 #e5f2fc inset;box-shadow:inset 0 1px 0 #e5f2fc;color:#476274;text-shadow:0 1px 1px hsla(0,0%,100%,.5)}.ch-btn-skin:hover,.ch-btn:hover{text-decoration:none}.ch-btn:hover{background-color:#4355d2;background-image:-webkit-linear-gradient(#4355d2,#2f33ae);background-image:-webkit-gradient(linear,left top,left bottom,from(#4355d2),to(#2f33ae));background-image:linear-gradient(#4355d2,#2f33ae);-webkit-box-shadow:0 1px 0 #7a89e8 inset;box-shadow:inset 0 1px 0 #7a89e8}.ch-btn-skin:hover{background-color:#dcecfb;background-image:-webkit-linear-gradient(#dcecfb,#c5dff5);background-image:-webkit-gradient(linear,left top,left bottom,from(#dcecfb),to(#c5dff5));background-image:linear-gradient(#dcecfb,#c5dff5);-webkit-box-shadow:0 1px 0 #e5f2fc inset;box-shadow:inset 0 1px 0 #e5f2fc}.ch-btn:active{background-color:#292f66;background-image:-webkit-linear-gradient(#292f66,#202388);background-image:-webkit-gradient(linear,left top,left bottom,from(#292f66),to(#202388));background-image:linear-gradient(#292f66,#202388);-webkit-box-shadow:0 1px 6px #141452 inset;box-shadow:inset 0 1px 6px #141452;border-color:#181e39}.ch-btn-skin:active{background-color:#a2c9e1;background-image:-webkit-linear-gradient(#a2c9e1,#7ab6dc);background-image:-webkit-gradient(linear,left top,left bottom,from(#a2c9e1),to(#7ab6dc));background-image:linear-gradient(#a2c9e1,#7ab6dc);-webkit-box-shadow:0 1px 6px #476274 inset;box-shadow:inset 0 1px 6px #476274;border-color:#79a8c7}input.ch-btn-large::-moz-focus-inner,input.ch-btn-small::-moz-focus-inner,input.ch-btn::-moz-focus-inner{border:0;padding:0}.ch-btn-large,.ch-btn-large:focus{font-size:20px;text-align:center}.ch-btn-disabled:active,.ch-btn-disabled:focus,.ch-btn-disabled:hover,[class*=ch-btn].ch-btn-disabled,[class*=ch-btn][disabled],[class*=ch-btn][disabled]:active,[class*=ch-btn][disabled]:focus,[class*=ch-btn][disabled]:hover{background-color:#f9f9f9;background-image:-webkit-linear-gradient(#f9f9f9,#dedede);background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#dedede));background-image:linear-gradient(#f9f9f9,#dedede);border:1px solid #cdcdcd!important;-webkit-box-shadow:0 1px 1px #fff inset;box-shadow:inset 0 1px 1px #fff;color:#999!important;cursor:not-allowed;opacity:.5;text-shadow:none;pointer-events:none}.ch-btn,.ch-btn:focus{line-height:20px;padding:5px 10px}.ch-btn-large,.ch-btn-large:focus{line-height:1.25em;padding:6px 12px}a.ch-btn-large,a.ch-btn-large:focus{display:inline-block}.ch-btn-small,.ch-btn-small:focus{font-size:12px;line-height:12px;padding:5px 8px}.ie8 [class*=ch-btn]:focus,.ie8 button:focus,.ie8 input[type=button]:focus,.ie8 input[type=file]:focus,.ie8 input[type=reset]:focus,.ie8 input[type=submit]:focus{outline:thin dotted;outline-offset:-2px}.ch-popover{-webkit-box-shadow:2px 2px 2px hsla(0,0%,39%,.2);box-shadow:2px 2px 2px hsla(0,0%,39%,.2);z-index:1000}.ch-underlay+.ch-popover{z-index:1050}.ch-popover-wrapper{display:inline-block;position:relative}.ch-shownby-pointertap{cursor:pointer}.ch-shownby-pointerenter{cursor:default}.ch-popover .ch-close+div{margin:0 24px 0 0}.ch-cone .ch-popover-content:after,.ch-cone .ch-popover-content:before{border:outset transparent;content:'';height:0;width:0;position:absolute;pointer-events:none;display:block}.ch-cone .ch-popover-content:before{border-width:10px}.ch-cone .ch-popover-content:after{border-width:9px}.ch-cone[data-side=bottom] .ch-popover-content:after,.ch-cone[data-side=bottom] .ch-popover-content:before{bottom:100%;border-bottom-style:solid}.ch-cone[data-side=bottom] .ch-popover-content:before{border-bottom-color:#dedede}.ch-cone[data-side=bottom] .ch-popover-content:after{border-bottom-color:#fff}.ch-cone[data-side=top] .ch-popover-content:after,.ch-cone[data-side=top] .ch-popover-content:before{top:100%;border-top-style:solid}.ch-cone[data-side=top] .ch-popover-content:before{border-top-color:#dedede}.ch-cone[data-side=top] .ch-popover-content:after{border-top-color:#fff}.ch-cone[data-side=right] .ch-popover-content:after,.ch-cone[data-side=right] .ch-popover-content:before{right:100%;border-right-style:solid}.ch-cone[data-side=right] .ch-popover-content:before{border-right-color:#dedede}.ch-cone[data-side=right] .ch-popover-content:after{border-right-color:#fff}.ch-cone[data-side=left] .ch-popover-content:after,.ch-cone[data-side=left] .ch-popover-content:before{left:100%;border-left-style:solid}.ch-cone[data-side=left] .ch-popover-content:before{border-left-color:#dedede}.ch-cone[data-side=left] .ch-popover-content:after{border-left-color:#fff}.ch-cone[data-side=left][data-align=top] .ch-popover-content:after,.ch-cone[data-side=right][data-align=top] .ch-popover-content:after{top:5px}.ch-cone[data-side=left][data-align=top] .ch-popover-content:before,.ch-cone[data-side=right][data-align=top] .ch-popover-content:before{top:4px}.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:after,.ch-cone[data-side=top][data-align=right] .ch-popover-content:after{right:8px}.ch-cone[data-side=bottom][data-align=right] .ch-popover-content:before,.ch-cone[data-side=top][data-align=right] .ch-popover-content:before{right:7px}.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:after,.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:after{bottom:5px}.ch-cone[data-side=left][data-align=bottom] .ch-popover-content:before,.ch-cone[data-side=right][data-align=bottom] .ch-popover-content:before{bottom:4px}.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:after,.ch-cone[data-side=top][data-align=left] .ch-popover-content:after{left:8px}.ch-cone[data-side=bottom][data-align=left] .ch-popover-content:before,.ch-cone[data-side=top][data-align=left] .ch-popover-content:before{left:7px}.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:after,.ch-cone[data-side=top][data-align=center] .ch-popover-content:after{margin-left:-10px;left:50%}.ch-cone[data-side=bottom][data-align=center] .ch-popover-content:before,.ch-cone[data-side=top][data-align=center] .ch-popover-content:before{margin-left:-11px;left:50%}.ch-cone[data-side=left][data-align=center] .ch-popover-content:after,.ch-cone[data-side=right][data-align=center] .ch-popover-content:after{margin-top:-10px;top:50%}.ch-cone[data-side=left][data-align=center] .ch-popover-content:before,.ch-cone[data-side=right][data-align=center] .ch-popover-content:before{margin-top:-11px;top:50%}.ch-popover.ch-hide.ch-fx{visibility:hidden;opacity:0}.ch-popover.ch-fx.ch-fx-fadeIn{visibility:visible;opacity:1;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out}.ch-popover.ch-fx.ch-fx-fadeOut{visibility:hidden;opacity:0;-webkit-transition:opacity .3s ease-out,visibility 0s linear .3s;transition:opacity .3s ease-out,visibility 0s linear .3s}.ch-dropdown-trigger{cursor:pointer;position:relative;display:inline-block;padding:5px 2em 5px 8px;z-index:1011}.ch-modal .ch-dropdown-trigger{z-index:1101}.ch-dropdown-trigger:after{font-family:icons;content:"\f0d7";position:absolute;top:50%;margin-top:-7px;right:8px;font-style:normal;line-height:1.2em}.ch-dropdown{min-width:120px;overflow:auto;margin:0;list-style:none;white-space:nowrap;-webkit-box-shadow:2px 2px 2px hsla(0,0%,39%,.2);box-shadow:2px 2px 2px hsla(0,0%,39%,.2);-webkit-border-radius:0 5px 5px;border-radius:0 5px 5px;z-index:1010}.ch-modal .ch-dropdown{z-index:1100}.ch-dropdown menu a{color:#000;display:block;height:25px;line-height:25px;margin:5px 0;padding:2px 35px 2px 10px;text-decoration:none}.ch-dropdown-trigger-on,.ch-dropdown-trigger-on:hover{background-color:#a2c9e1;background-image:-webkit-linear-gradient(#a2c9e1,#7ab6dc);background-image:-webkit-gradient(linear,left top,left bottom,from(#a2c9e1),to(#7ab6dc));background-image:linear-gradient(#a2c9e1,#7ab6dc);-webkit-box-shadow:0 1px 6px rgba(71,98,116,.6);box-shadow:0 1px 6px rgba(71,98,116,.6);-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0}.ch-dropdown menu a:focus{background-color:#fefbd6;outline:none}.ch-dropdown-trigger-skin{background:transparent;border:1px solid transparent;border-width:0 1px;-webkit-border-radius:0;border-radius:0;color:#03b;text-decoration:none;padding:0 28px 0 13px}.ch-dropdown-trigger-skin:after{color:#999}.ch-dropdown-trigger-skin :active{color:#00d}.ch-dropdown-trigger-skin.ch-dropdown-trigger-on,.ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover{background-color:#fff;background-image:none}.ch-dropdown-trigger-skin.ch-dropdown-trigger-on{border-color:#dedede;-webkit-box-shadow:2px 0 0 hsla(0,0%,39%,.2);box-shadow:2px 0 0 hsla(0,0%,39%,.2);-webkit-border-radius:0;border-radius:0}.ch-dropdown-trigger-skin.ch-btn-skin:active{-webkit-box-shadow:none;box-shadow:none}.ch-dropdown-trigger-skin:hover{text-decoration:underline}.ch-dropdown-skin{padding:5px 10px}.ch-dropdown-skin menu li{list-style:none;margin:5px 0}.ch-dropdown-skin menu a{background:none;color:#03b;display:inline;line-height:20px;padding:0}.ch-dropdown-skin menu a:focus{background:none;text-decoration:underline}.lt-ie10 .ch-dropdown-trigger-skin,.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on,.lt-ie10 .ch-dropdown-trigger-skin.ch-dropdown-trigger-on:hover{filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.ch-tooltip{background-color:#fcf8e3;border:1px solid #fbeed5;color:#aa8749;padding:8px 10px;-webkit-border-radius:5px;border-radius:5px}.ch-tooltip.ch-cone[data-side=bottom] .ch-popover-content:before{border-bottom-color:#fbeed5}.ch-tooltip.ch-cone[data-side=bottom] .ch-popover-content:after{border-bottom-color:#fcf8e3}.ch-tooltip.ch-cone[data-side=top] .ch-popover-content:before{border-top-color:#fbeed5}.ch-tooltip.ch-cone[data-side=top] .ch-popover-content:after{border-top-color:#fcf8e3}.ch-tooltip.ch-cone[data-side=right] .ch-popover-content:before{border-right-color:#fbeed5}.ch-tooltip.ch-cone[data-side=right] .ch-popover-content:after{border-right-color:#fcf8e3}.ch-tooltip.ch-cone[data-side=left] .ch-popover-content:before{border-left-color:#fbeed5}.ch-tooltip.ch-cone[data-side=left] .ch-popover-content:after{border-left-color:#fcf8e3}[class*=ch-box]{-webkit-border-radius:5px;border-radius:5px;margin:0 0 10px;padding:10px}.ch-box,.ch-box-lite{border:1px solid #dedede}.ch-box-lite{background-color:#fff}.ch-box-icon{position:relative;padding-left:32px}.ch-box-icon [class*=ch-icon-]{position:absolute;top:7px;left:5px}.ch-icon-warning-sign{color:#f5cc00}.ch-box-warn{background-color:#fff3c8;color:#aa8749}.ch-box-error,.ch-icon-remove-sign{color:#b84a46}.ch-box-error{background-color:#f5e6e6}.ch-box-error a:visited{color:#03b}.ch-box-help,.ch-icon-help-sign{color:#666}.ch-box-help{background-color:#f0f0f0}.ch-box-info,.ch-icon-info-sign{color:#3a87ad}.ch-box-info{background-color:#e4f2f9}.ch-box-info a{text-decoration:underline!important}.ch-box-ok,.ch-icon-ok-sign{color:#468847}.ch-box-ok{background-color:#e9f4e4}.ch-box{background-color:#f0f0f0;background-image:-webkit-linear-gradient(top,#f0f0f0,#fff 25px,#fff);background-image:linear-gradient(180deg,#f0f0f0,#fff 25px,#fff)}.ch-loading,.ch-loading-large{margin:20px auto;display:block}.ch-loading-large{background-image:url(../fonts/loading-big.gif);width:36px;height:36px}.ch-loading{background-image:url(../fonts/loading.gif);width:24px;height:24px}.ch-loading-small{background-image:url(../fonts/loading-small.gif);display:inline-block;width:16px;height:16px}.ch-loading-centered{position:absolute;top:50%;left:50%}.ch-loading-large.ch-loading-centered{margin-top:-18px;margin-left:-18px}.ch-loading.ch-loading-centered{margin-top:-12px;margin-left:-12px}.ch-loading-small.ch-loading-centered{margin-top:-8px;margin-left:-8px}body{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:Proxima Nova,Arial,Helvetica,sans-serif}.ch-dropdown{padding:0;z-index:1011}.ch-box-warn{margin:0;background-color:#f73;color:#fff}.ch-loading-small{right:0;top:3px}.ml-addresses{max-width:760px;padding-bottom:0;margin:0;font-weight:300;line-height:1.25;font-size:14px}.ml-addresses__title{border-bottom:1px dotted #eee;color:#f59300;padding-bottom:15px;margin-bottom:15px;font-size:18px;font-weight:400}.ml-addresses__list-item{position:relative;border-bottom:1px solid #eee;padding:25px 18px}.ml-addresses-messages{padding-top:10px}.ml-addresses-messages a{color:#fff}.ml-addresses__list-item .ml-addresses-actions .ch-dropdown menu a:hover{background-color:#fefbd6;outline:none}.ml-addresses-add{height:21px;padding:25px 18px}.ml-addresses-add .ads-button{font-size:16px;color:#3483fa;text-decoration:none;width:100%;-webkit-transition:color .2s ease-out;transition:color .2s ease-out;display:block}.ml-addresses-add .ads-button path{stroke:#3483fa}.ml-addresses-add .ads-button__text{display:block;float:left}.ml-addresses-add .ads-button__icon{float:right;padding-right:9px}.ml-addresses-add .ads-button:active{color:#1f4e96;-webkit-transition:color .2s ease-in;transition:color .2s ease-in}.ml-addresses-add .ads-button:active path{stroke:#1f4e96}.ml-addresses-add .ads-button:hover{color:#2968c8;-webkit-transition:color .2s ease-in;transition:color .2s ease-in}.ml-addresses-add .ads-button:hover path{stroke:#2968c8}.ml-addresses-add .ads-button svg{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);width:auto;height:8px;vertical-align:middle;max-width:1em;max-height:1em;float:right;top:6px;right:-3px;position:relative}.andes-button--filled:active path,.andes-button--filled:focus path,.andes-button--filled:hover path,.andes-button--filled:link path,.andes-button--filled:visited path,.andes-button--filled path{stroke:#fff!important}.andes-button:link{text-decoration:none}.andes-button,.andes-button *{-webkit-box-sizing:border-box;box-sizing:border-box}.andes-button svg{display:inline-block;vertical-align:middle;max-width:1em;max-height:1em}.andes-button__content{display:block}.andes-button__content:after{content:'';display:table;clear:both}.andes-button__content *{display:block;float:left}.andes-button__text+svg,svg+.andes-button__text{margin-left:16px}.andes-button{font-family:Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1;padding:14px 32px;text-align:center;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:.18s ease-out;transition:.18s ease-out;-webkit-transition-property:background,color;transition-property:background,color;-webkit-font-smoothing:antialiased;width:100%;display:block}.andes-button+.andes-button{margin-top:8px}.andes-button--small{width:auto;display:inline-block;font-size:16px;padding:11px 24px}.andes-button--small+.andes-button--small{margin:8px 0 0 8px}@media (min-width:768px){.andes-button+.andes-button,.andes-button--small+.andes-button--small{margin:0 0 0 8px}.andes-button{display:inline-block;width:auto;min-width:7.88889em}.andes-button--small{min-width:0}}.andes-button--small svg{display:none}.andes-button--small .andes-button__text{margin:0}.andes-button--filled{border:.05556em solid;cursor:pointer;-webkit-transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out,-webkit-box-shadow .25s ease-out;-webkit-box-shadow:0 0 0 0 #fff;box-shadow:0 0 0 0 #fff}.andes-button--filled,.andes-button--filled:focus,.andes-button--filled:link,.andes-button--filled:visited{border-color:#3483fa;background-color:#3483fa;color:#fff}.andes-button--filled:hover{border-color:#1e6dff;background-color:#1e6dff;color:#fff;-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in}.andes-button--filled:active{border-color:#105cf4;background-color:#105cf4;color:#fff}.andes-button--filled:disabled,.andes-button--filled[disabled]{border-color:rgba(0,0,0,.04);background-color:rgba(0,0,0,.04);color:rgba(0,0,0,.25);cursor:default;-webkit-background-clip:padding-box;background-clip:padding-box}.andes-button--filled:disabled path,.andes-button--filled[disabled] path{stroke:rgba(0,0,0,.25)!important}.andes-button--filled:focus{outline:0;-webkit-box-shadow:0 0 0 .16667em rgba(30,109,255,.4);box-shadow:0 0 0 .16667em rgba(30,109,255,.4);-webkit-transition:-webkit-box-shadow .25s ease-in;transition:-webkit-box-shadow .25s ease-in;transition:box-shadow .25s ease-in;transition:box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in}.andes-button--transparent{border:.05556em solid;cursor:pointer;-webkit-transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out,-webkit-box-shadow .25s ease-out;-webkit-box-shadow:0 0 0 0 rgba(52,131,250,.3);box-shadow:0 0 0 0 rgba(52,131,250,.3)}.andes-button--transparent,.andes-button--transparent:focus,.andes-button--transparent:link,.andes-button--transparent:visited{border-color:transparent;background-color:transparent;color:#3483fa}.andes-button--transparent:focus path,.andes-button--transparent:link path,.andes-button--transparent:visited path,.andes-button--transparent path{stroke:#3483fa!important}.andes-button--transparent:active path,.andes-button--transparent:hover path{stroke:#2c6bff!important}.andes-button--transparent:hover{border-color:transparent;background-color:rgba(52,131,250,.06);color:#2c6bff;-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in}.andes-button--transparent:active{border-color:transparent;background-color:rgba(52,131,250,.12);color:#2c6bff}.andes-button--transparent:disabled,.andes-button--transparent[disabled]{border-color:transparent;background-color:transparent;color:rgba(0,0,0,.25);cursor:default;-webkit-background-clip:padding-box;background-clip:padding-box}.andes-button--transparent:disabled path,.andes-button--transparent[disabled] path{stroke:rgba(0,0,0,.25)!important}.andes-button--transparent:focus{outline:0;-webkit-box-shadow:0 0 0 .16667em rgba(52,131,250,.3);box-shadow:0 0 0 .16667em rgba(52,131,250,.3);-webkit-transition:-webkit-box-shadow .25s ease-in;transition:-webkit-box-shadow .25s ease-in;transition:box-shadow .25s ease-in;transition:box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in}.andes-button--outline{border:.05556em solid;cursor:pointer;-webkit-transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out,-webkit-box-shadow .25s ease-out;-webkit-box-shadow:0 0 0 0 #fff;box-shadow:0 0 0 0 #fff}.andes-button--outline,.andes-button--outline:focus,.andes-button--outline:link,.andes-button--outline:visited{border-color:#3483fa;background-color:transparent;color:#3483fa}.andes-button--outline:focus path,.andes-button--outline:link path,.andes-button--outline:visited path,.andes-button--outline path{stroke:#3483fa!important}.andes-button--outline:active path,.andes-button--outline:hover path{stroke:#2c6bff!important}.andes-button--outline:hover{border-color:#2c6bff;background-color:rgba(52,131,250,.06);color:#2c6bff;-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in}.andes-button--outline:active{border-color:#2c6bff;background-color:rgba(52,131,250,.12);color:#2c6bff}.andes-button--outline:disabled,.andes-button--outline[disabled]{border-color:rgba(0,0,0,.2);background-color:#fff;color:rgba(0,0,0,.3);cursor:default;-webkit-background-clip:padding-box;background-clip:padding-box}.andes-button--outline:disabled path,.andes-button--outline[disabled] path{stroke:rgba(0,0,0,.3)!important}.andes-button--white:active path,.andes-button--white:focus path,.andes-button--white:hover path,.andes-button--white:link path,.andes-button--white:visited path,.andes-button--white path{stroke:#fff!important}.andes-button--outline:focus{outline:0;-webkit-box-shadow:0 0 0 .16667em rgba(52,131,250,.15);box-shadow:0 0 0 .16667em rgba(52,131,250,.15);-webkit-transition:-webkit-box-shadow .25s ease-in;transition:-webkit-box-shadow .25s ease-in;transition:box-shadow .25s ease-in;transition:box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in}.andes-button--white{border:.05556em solid;cursor:pointer;-webkit-transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:background-color .2s ease-out,-webkit-box-shadow .25s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out;transition:box-shadow .25s ease-out,background-color .2s ease-out,-webkit-box-shadow .25s ease-out;-webkit-box-shadow:0 0;box-shadow:0 0}.andes-button--white,.andes-button--white:focus,.andes-button--white:link,.andes-button--white:visited{border-color:transparent;background-color:hsla(0,0%,100%,0);color:#fff}.andes-button--white:active,.andes-button--white:hover{border-color:none;background-color:hsla(0,0%,100%,.04);color:#fff}.andes-button--white:hover{-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in}.andes-button--white:disabled,.andes-button--white[disabled]{border-color:hsla(0,0%,100%,0);background-color:hsla(0,0%,100%,0);color:rgba(0,0,0,.25);cursor:default;-webkit-background-clip:padding-box;background-clip:padding-box}.andes-button--white:disabled path,.andes-button--white[disabled] path{stroke:rgba(0,0,0,.25)!important}.andes-button--white:focus{outline:0;-webkit-box-shadow:0 0 0 .16667em none;box-shadow:0 0 0 .16667em none;-webkit-transition:-webkit-box-shadow .25s ease-in;transition:-webkit-box-shadow .25s ease-in;transition:box-shadow .25s ease-in;transition:box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in}.andes-button--link{color:#105cf4;font-size:12px;padding:.5em}.andes-button--link:focus{outline:0;-webkit-box-shadow:0 0;box-shadow:0 0}.andes-button--link:before{content:'';position:absolute;width:100%;height:28px;right:0;top:0;-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out;background:0 0;opacity:0}.andes-button--link:hover:before{-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in;opacity:.06;background:#3483fa}.ml-addresses-data{display:inline-block;width:280px;margin-right:0}.ml-addresses-data dt{display:none}.ml-addresses-data__item{color:#999}.ml-addresses-data__item--strong{color:rgba(0,0,0,.8);font-size:16px}.ml-addresses-data dd.ml-addresses-data__item--strong{margin-bottom:10px}.ml-addresses-tags{display:inline-block;vertical-align:top;margin-left:10px}.ml-addresses-tags__item{-webkit-border-radius:8px;border-radius:8px;display:inline-block;cursor:default;margin:0 2px;padding:2px 6px;width:-webkit-max-content;width:-moz-max-content;width:max-content;font-size:11px;text-transform:uppercase}.ml-addresses-tags__item--grey{background-color:#eee}.ml-addresses-tags__item--blue{background:rgba(52,131,250,.1);color:#3483fa}.ml-addresses-tags__item--default{background-color:rgba(52,131,250,.1);color:#3483fa}.ml-addresses-tags__item--green{background-color:rgba(0,166,80,.1);color:#00a650}.ml-addresses-tags #default_buying_address{display:none}.ml-addresses-empty-list{padding:18px 18px 0;text-align:center}.ml-addresses-empty-list a,.ml-addresses-empty-list p{margin:0 0 10px}.ml-addresses-actions{position:absolute;top:0;right:18px}.ml-addresses-actions .no-script-dropdown{background-color:#fff;text-align:right;padding:10px;border:1px solid #eee;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 2px hsla(0,0%,39%,.2);box-shadow:2px 2px 2px hsla(0,0%,39%,.2)}.ml-addresses-actions .ch-dropdown menu a{margin:0;padding-top:1px;padding-bottom:1px}.ml-addresses-actions .ui-menu-wrapper{padding-top:34px}.ml-addresses-actions .ml-addresses-setasbuy-link{display:none}.no-js .ml-addresses-actions{position:relative;display:block;float:right}.no-js .addresses-actions-dropdown{text-align:right}.ml-addresses-subaction{padding-top:10px;will-change:contents;-webkit-transform:translateZ(0);transform:translateZ(0)}.ml-addresses-subaction--disabled{color:rgba(0,0,0,.3)}.ml-addresses-subaction__checkbox{width:18px;height:18px}.ml-addresses-subaction__checkbox-label{position:absolute;padding:2px 0 0}.ml-addresses-subaction input,.ml-addresses-subaction label{cursor:pointer}.ml-addresses-subaction .ml-addresses-subaction__text-company{color:#999}.ml-addresses-subaction .ch-loading-small{right:0;top:12px;position:absolute}.no-js .ml-addresses-subaction__checkbox,.no-js .ml-addresses-subaction__checkbox-label,.PI .nav-header{display:none}

