
<nav class="navbar-mobile">
    <ul id="slide-out" class="sidenav">
    {{#if user}}
    <li>
        <div class="user-view"> 
        {{#if user.img}}     
        <a href="#user"><img class="circle img-home" src="/uploads/{{user.img}}" alt="usuario foto"> </a>
        {{else}}
        <a href="#user"><img class="circle img-home" src="https://i0.wp.com/www.repol.copl.ulaval.ca/wp-content/uploads/2019/01/default-user-icon.jpg?fit=300%2C300" alt="usuario foto"> </a>
        {{/if}}
        <a href="#name"><span class="black-text name">{{user.name}}</span></a>
        {{#if dir}}
        <a href="#adress"><span class="black-text adress">direccion del usuario</span></a>
        {{/if}}
        </div>
    </li>

    <li><a href="/"><i class="ri-home-2-line black-text"></i>Inicio</a></li>
    <li><a href="/links/addresses"><i class="ri-map-2-line black-text"></i>Mis direcciones</a></li>
    <li><a href="/links/purchases"><i class="ri-file-list-3-line black-text"></i>Mis pedidos</a></li>
    <li><a href="/links/favorites"><i class="ri-heart-line black-text"></i>Mis favoritos</a></li>
    <li><a href="/profile"><i class="ri-user-line black-text"></i>Mi cuenta</a></li>
    {{#if user.delivery}}
    <li><a href="/links/onway"><i class="ri-takeaway-line black-text"></i>Pedidos</a></li>
    {{/if}}
    {{#if user.company}} 
    <li><a href="/links/dashboard"><i class="ri-store-2-line black-text"></i>Mi negocio</a></li>
    {{/if}}
    <li class="last-item"><a href="/logout"><i class="ri-logout-box-line black-text"></i>Cerrar</a></li>
    {{else}}
        <li class="msg-home">
            <div class="user-view">      
            <a href="#user"><img class="circle img-home" src="/img/logo.png " alt="meraki"> </a>        
            <a href="#msg"><span class=" black-text text-home">¡Qué bueno verte aquí!</span></a>
            </div>
        </li>
        <li><a href="/"><i class="ri-home-2-line black-text"></i>Inicio</a></li>
        <li><a href="/links/about"><i class="ri-customer-service-line black-text"></i>Ayuda en línea</a></li>        
        <li class="last-item"><a href="/ingreso"><i class="ri-login-box-line black-text"></i>Registrarse/ Ingresar</a></li>
    {{/if}}
    </ul>

    <div class="container-nav-mobile">
    <a href="#"  data-target="slide-out" class="sidenav-trigger item1"><i class="fas fa-align-left black-text" ></i></a>
    

    {{#if user}}
    <div class="item3">
    <a href="/links/cart" ><i class="ri-shopping-cart-line black-text"></i></a>
    <div class="container__indicator " id="badge-cart"></div>
    </div>
    {{/if}}
    </div>
</nav>

<!-- End of Topbar -->
<div class="preloader">
  <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
  </div>
</div>