{{!-- <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Nombre" autofocus>
                        </div>
                        
                        <div class="form-group">                        
                            <select name="category" id="category" class="form-control">
                                <option value="0">Categoria</option>
                                <option value="1">Panificado</option>
                                <option value="2">Carniceria</option>
                                <option value="3">Verduleria</option>
                                <option value="4">Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="format" class="form-control" placeholder="Formato de venta">
                        </div>
                        <div class="form-group">
                            <input type="text" name="price" class="form-control" placeholder="Precio">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Descripcion"></textarea>
                        </div>
                        <p>Agrega una foto del producto</p>
                        <output id="list"></output>     
                        <div class="form-group">
                            <input type="file" name="image" id="files">
                        </div>
                                                                      
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div> --}}
{{#if user.company}}

    
{{else}}
{{/if}}
