<div class="mobile">
<div class="sc-11awyvm-0 sc-1obgk5z-0 giGAqG">
    <div class="sc-11o6dv8-0 cqVnva">
        <div>
            <div class="sc-17r3t6i-0 ehQKJn">
                <picture>
                <source type="image/webp" data-srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1&amp;dpi=1.5 1.5x" srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1&amp;dpi=1.5 1.5x">
                <img src="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50" class="sc-11h6bs4-0 byKNUF sc-16krbne-0 bHbZgR ls-is-cached lazyloaded" alt="Wing It! Fried Chicken - Microcentro" data-src="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50" data-srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;dpi=1.5 1.5x" srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;dpi=1.5 1.5x">
                </picture>
                <div class="wpgov5-0 kbnKVd">
                    <label class="sc-19lpo4o-0 hUFbBn">Wing It! Fried Chicken - Microcentro</label>
                    <div>
                        <span>19 - 34 min · </span>
                        <span>Envío $129 · </span>
                        <span>Sin mínimo</span>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="izdi0n-0 IPePb"></div>
        <div class="sc-1ggyyua-0 emxEfn">
            <div class="efbtbj-0 hTWpRO">
                <div class="subtotal checkout format">
                    <span class="left">Subtotal</span>
                    <span class="teqjqu-0 kTsFWn right">$249</span>
                </div>
            </div>
            <div class="efbtbj-0 hTWpRO">
                <div class="modifier checkout format">
                    <span class="left">Envío</span>
                    <span class="teqjqu-0 kTsFWn right">$129</span>
                </div>
            </div>
            <div class="sc-1mt13s8-0 jsSbTw">
                <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary">
                    <div class="sc-1y8jm7q-1 eDgxHQ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2b1a46" viewBox="0 0 16 16" class="sc-1c4lp22-0 cmvwfK">
                        <path d="M12.49 1.897a1.063 1.063 0 011.267.641l.036.11.51 1.906a.5.5 0 01-.353.612 1.19 1.19 0 00.616 2.3.5.5 0 01.581.27l.031.084.511 1.905a1.064 1.064 0 01-.642 1.267l-.11.036L3.505 14.09a1.062 1.062 0 01-1.266-.642l-.036-.11-.51-1.905a.5.5 0 01.353-.613 1.19 1.19 0 00-.489-2.327l-.128.027a.497.497 0 01-.58-.269l-.032-.085-.51-1.905a1.062 1.062 0 01.641-1.266l.11-.036L12.49 1.897zm.292.965h-.033L1.317 5.926a.064.064 0 00-.045.044v.033l.396 1.479.11-.002a2.195 2.195 0 011.967 1.313l.063.161.046.15a2.191 2.191 0 01-.846 2.352l-.14.092-.096.054.397 1.478a.066.066 0 00.025.036l.02.009h.032l11.432-3.063a.062.062 0 00.045-.045v-.033l-.397-1.478-.109.001a2.193 2.193 0 01-1.966-1.312l-.063-.162-.046-.15a2.19 2.19 0 01.845-2.352l.14-.092.095-.053-.395-1.479a.06.06 0 00-.025-.035l-.02-.01zm-2.99 2.024a.402.402 0 01.18.473l-.034.074-3.188 5.522a.4.4 0 01-.726-.327l.033-.073 3.188-5.522a.401.401 0 01.547-.147zm-.046 3.1a1.246 1.246 0 11.644 2.407 1.246 1.246 0 01-.644-2.407zm.753 1.088a.445.445 0 10-.86.23.445.445 0 00.86-.23zM5.605 5.595a1.246 1.246 0 11.646 2.407 1.246 1.246 0 01-.647-2.407zm.752 1.088a.444.444 0 10-.86.23c.064.238.308.38.545.315a.444.444 0 00.315-.545z"></path>
                        </svg>
                        <span>Agregar cupón</span>
                    </div>
                </button>
            </div>
        </div>
        
        <div class="efbtbj-0 hTWpRO">
            <div class="total format">
                <span class="left">Total</span>
                <span class="teqjqu-0 kTsFWn right">$378</span>
            </div>
        </div>
    </div>
    
    <div class="q0aqvc-0 q0aqvc-1 NJcBc">
        <div class="xcrn65-0 dcPtHW sc-1bt0piu-0 kbjaPo">
            <span class="sc-1rcjn1n-0 ktEUQh">
                <h3 class="g8fctk-0 clWljy">Detalles de entrega</h3>
            </span>
        </div>
    </div>
    
    <div direction="column" class="sc-1uudfj-0 sc-12wnl9h-0 jYMhUa">
        <div class="sc-1mamh2o-0 hjHmLJ">
            <div class="kvc0d7-0 kRxqIk">
                <div class="jg45ck-0 kqlBao">Dirección</div>
                <div class="sc-1kvbujb-0 ibQrVs">
                    <div class="sc-1o31e9d-0 dfQCLk">
                        <div>Ingresa tu dirección</div>
                    </div>
                </div>
            </div>
            
            <div class="pjuly4-0 kVPxIB">
                <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary">Editar</button>
            </div>
            
        </div>
        
        <div class="sc-1mamh2o-0 hjHmLJ">
            <div class="kvc0d7-0 kRxqIk">
                <div class="jg45ck-0 kqlBao">Tipo de entrega</div>
                
                <div class="sc-1kvbujb-0 ibQrVs">
                    <div class="sc-1o31e9d-0 dfQCLk">
                        <div>Delivery</div>
                    </div>
                </div>

            </div>

        </div>
        <div class="sc-1mamh2o-0 hjHmLJ">
            <div class="kvc0d7-0 kRxqIk">
                <div class="jg45ck-0 kqlBao">Horario</div>
                <div class="sc-1kvbujb-0 ibQrVs">
                    <div class="sc-1o31e9d-0 dfQCLk">
                        <div>Lo antes posible</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sc-1mamh2o-0 hjHmLJ">
            <div class="kvc0d7-0 kRxqIk">
                <div class="jg45ck-0 kqlBao">Forma de pago</div>
            </div>
            Mercado PAgo
            <div class="pjuly4-0 kVPxIB">
                <button type="button" class="sc-1y8jm7q-0 kqqStk" onclick="location.href='/links/checkout/payment';" color="secondary">Editar</button>
                
            </div>
        </div>
        
        <div class="sc-1mamh2o-0 hjHmLJ">
            <div class="kvc0d7-0 kRxqIk">
                <div class="jg45ck-0 kqlBao">Notas</div>
            </div>
            
            <div class="pjuly4-0 kVPxIB">
                <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary">Editar</button>
            </div>
        </div>
    </div>
    
</div>
</div>