<div class="mobile">
<form action="/links/checkout" method="post">
    <div class="sc-11awyvm-0 sc-1obgk5z-0 giGAqG">
        <div class="sc-11o6dv8-0 cqVnva">
            <div>
                <div class="sc-17r3t6i-0 ehQKJn">
                    <picture>
                    <source type="image/webp" data-srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1&amp;dpi=1.5 1.5x" srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;webp=1&amp;dpi=1.5 1.5x">
                    <img src="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50" class="sc-11h6bs4-0 byKNUF sc-16krbne-0 bHbZgR ls-is-cached lazyloaded" alt="Wing It! Fried Chicken - Microcentro" data-src="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50" data-srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;dpi=1.5 1.5x" srcset="https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50, https://images.deliveryhero.io/image/pedidosya/restaurants/wing-it-centro.jpg?quality=90&amp;width=50&amp;dpi=1.5 1.5x">
                    </picture>
                    <div class="wpgov5-0 kbnKVd">
                        <label class="sc-19lpo4o-0 hUFbBn">Wing It! Fried Chicken - Microcentro</label>
                        <div>
                            <span>19 - 34 min · </span>
                            <span>Envío $129 · </span>
                            <span>Sin mínimo</span>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="izdi0n-0 IPePb"></div>
            <div class="sc-1ggyyua-0 emxEfn">
                <div class="efbtbj-0 hTWpRO">
                    <div class="subtotal checkout format">
                        <span class="left">Subtotal</span>
                        <span class="teqjqu-0 kTsFWn right">$249</span>
                    </div>
                </div>
                <div class="efbtbj-0 hTWpRO">
                    <div class="modifier checkout format">
                        <span class="left">Envío</span>
                        <span class="teqjqu-0 kTsFWn right">$129</span>
                    </div>
                </div>
                
            </div>
            
            <div class="efbtbj-0 hTWpRO">
                <div class="total format">
                    <span class="left">Total</span>
                    <span class="teqjqu-0 kTsFWn right">$378</span>
                    
                </div>
            </div>
        </div>
        
        <div class="q0aqvc-0 q0aqvc-1 NJcBc">
            <div class="xcrn65-0 dcPtHW sc-1bt0piu-0 kbjaPo">
                <span class="sc-1rcjn1n-0 ktEUQh">
                    <h3 class="g8fctk-0 clWljy">Detalles de entrega</h3>
                </span>
            </div>
        </div>
        
        <div direction="column" class="sc-1uudfj-0 sc-12wnl9h-0 jYMhUa">
            <div class="sc-1mamh2o-0 hjHmLJ">
                <div class="kvc0d7-0 kRxqIk">
                    <div class="jg45ck-0 kqlBao">Dirección</div>
                    <div class="sc-1kvbujb-0 ibQrVs">

                        {{#if direccion}}       

                            <div class="sc-1o31e9d-0 dfQCLk">
                                <div>{{direccion.street}} {{direccion.numberST}}</div>
                            </div>

                        {{else}}

                            <div class="sc-1o31e9d-0 dfQCLk">
                                <div>Ingresa tu dirección</div>
                            </div>

                        {{/if}}
                            
                    
                    </div>
                </div>
                
                <div class="pjuly4-0 kVPxIB">
                    <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary">Editar</button>
                </div>
                
            </div>
            
            <div class="sc-1mamh2o-0 hjHmLJ">
                <div class="kvc0d7-0 kRxqIk">
                    <div class="jg45ck-0 kqlBao">Tipo de entrega</div>
                    
                    <div class="sc-1kvbujb-0 ibQrVs">
                        <div class="sc-1o31e9d-0 dfQCLk">
                            <div>Delivery</div>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="sc-1mamh2o-0 hjHmLJ">
                <div class="kvc0d7-0 kRxqIk">
                    <div class="jg45ck-0 kqlBao">Metodo de pago</div>
                    <div class="sc-1kvbujb-0 ibQrVs">
                        
                            <div class="sc-1o31e9d-0 dfQCLk">
                                <div>Mercado pago</div>
                            </div>
                    
                    </div>
                </div>
                
                <div class="pjuly4-0 kVPxIB">
                    <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary" onclick="location.href='/links/checkout/payment';">Editar</button>
                </div>
                
            </div>
            
            <div class="sc-1mamh2o-0 hjHmLJ">
                <div class="kvc0d7-0 kRxqIk">
                    <div class="jg45ck-0 kqlBao">Notas</div>
                    <div class="sc-1kvbujb-0 ibQrVs">

                        {{#if direccion}}       

                            <div class="sc-1o31e9d-0 dfQCLk">
                                <div>notas si</div>
                            </div>

                        {{else}}

                            <div class="sc-1o31e9d-0 dfQCLk">
                                <div>notas no</div>
                            </div>

                        {{/if}}
                            
                    
                    </div>
                </div>
                
                <div class="pjuly4-0 kVPxIB">
                    <button type="button" class="sc-1y8jm7q-0 kqqStk" color="secondary" onclick="location.href='/links/checkout/notes';">Editar</button>
                </div>
                
            </div>
            
        </div>
            <div >
                
                <button type="submit" class="sc-1y8jm7q-0 cPPpUY" id="checkout_continue" color="primary">Pagar</button>
                
            </div>
        
    </div>
</form>
</div>