<form action="/links/days" method="post">
    <table >
            <thead>
            <tr>
                <th>Día</th>
                <th>Desde</th>
                <th>Hasta</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Domingo <input type="hidden" name="day" value="Domingo"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Lunes <input type="hidden" name="day" value="Lunes"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Martes <input type="hidden" name="day" value="Martes" ></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Miercoles <input type="hidden" name="day" value="Miercoles"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Jueves<input type="hidden" name="day"value="Jueves"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Viernes<input type="hidden" name="day" value="Viernes"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            <tr>
                <td>Sabado<input type="hidden" name="day" value="Sabado"></td>
                <td><input type="text" class="timepicker" name="time1"></td>
                <td><input type="text" class="timepicker" name="time2"></td>
            </tr>
            
            </tbody>    
    </table>   
    <button>Guardar</button>     
</form>