<div class="mobile">
    <div id="inner_header" class="sc-1knsue8-0 hDzOWu">
        
        <h3 class="sc-85ihu9-0 kKFWvo title_component title">Notas</h3>
    </div>
    <div class="sc-11awyvm-0 sc-59m8zx-0 kXvvdC">
        <div class="q0aqvc-0 q0aqvc-1 ezuAnx">
            <div class="ptwdv1-0 dfDAtG">
                <div class="axxvqp-0 heZlBN wnl44z-0 fQOrqs">                    
                    <div class="row">
                        <form class="col s12" action="/links/notes" method="post">                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea2" name="notes" onkeyup="countChars(this);"class="materialize-textarea " data-length="120"></textarea>
                                    <label for="textarea2">Notas al comercio</label>
                                </div>
                                <div><p id="charNum">120 caracteres restantes</p></div>
                            </div>
                            
                            
                            
                            <div >
                            <button type="submit" class="sc-1y8jm7q-0 cPPpUY" id="checkout__notes__continue" color="primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    
</div>