<div class="mobile">
    <div id="inner_header" class="sc-1knsue8-0 hDzOWu">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2b1a46" viewBox="0 0 16 16" class="sc-1knsue8-2 jRISIH">
        <path d="M8 7.116l3.765-3.765a.625.625 0 01.884.884L8.884 8l3.765 3.765a.625.625 0 01-.884.884L8 8.884l-3.765 3.765a.625.625 0 01-.884-.884L7.116 8 3.351 4.235a.625.625 0 01.884-.884L8 7.116z"></path>
        </svg>
        <h3 class="sc-85ihu9-0 kKFWvo title_component title">Notas</h3>
    </div>
    <div class="sc-11awyvm-0 sc-59m8zx-0 kXvvdC">
        <div class="q0aqvc-0 q0aqvc-1 ezuAnx">
            <div class="ptwdv1-0 dfDAtG">
                <div class="axxvqp-0 heZlBN wnl44z-0 fQOrqs">
                    <label for="checkout__notes__input" class="sc-1hs0vh7-0 jDvTIY">Notas al restaurante</label>
                    <textarea type="text" autocomplete="off" id="checkout__notes__input" rows="1" data-hj-allow="false" class="sc-1ysv6qi-0 QswoJ"></textarea>
                    <div class="qis1gi-0 hQKEAC"></div>
                    <p class="kzfj6u-0 gUjbom"></p>
                </div>
                <div class="sc-146g071-0 jJGlkz">0/150</div>
            </div>
        </div>
    </div>

    <div class="sc-1dfoxyf-0 cwvyqR sc-1dfoxyf-2 n18cvb-0 EHads">
        <button type="button" class="sc-1y8jm7q-0 cPPpUY" id="checkout__notes__continue" color="primary">Aceptar</button>
    </div>
</div>