<div class="mobile">
    <form action="/links/method_payment" method="post">
        <div class="iu9qsa-0 kbsJyx">
            <div class="q0aqvc-0 q0aqvc-1 NJcBc">
                <div class="xcrn65-0 dOElNm sc-1bt0piu-0 kbjaPo">
                    <span class="sc-1rcjn1n-0 ktEUQh">
                        <h3 class="g8fctk-0 clWljy">Online</h3>
                    </span>
                </div>
            </div>
            
            <div direction="column" class="sc-1uudfj-0 iiTDbT">
                    <div class="sc-1b3hpd3-0 fJjbNk" id="methodone">
                        <div class="mg59vo-1 TbqpF" id="method" name="mp">
                            <label>
                            <input type="radio" name="method_payment" value="Mercado Pago"/>
                            <span></span>
                            </label>
                        </div>
                        
                        <div class="mg59vo-0 cOEVZv">
                            <div id="offline_method_1" class="o9s9w5-0 jCAWyD">
                                <div class="n1aodw-0 knNvyY">Mercado pago</div>
                            </div>                                                  
                        </div>
                    </div>
            </div>
            
            <div style="margin-bottom: 24px;"></div>
            <div>
                <div class="q0aqvc-0 q0aqvc-1 NJcBc">
                    <div class="xcrn65-0 dcPtHW sc-1bt0piu-0 kbjaPo">
                        <span class="sc-1rcjn1n-0 ktEUQh">
                            <h3 class="g8fctk-0 clWljy">En la entrega</h3>
                        </span>
                    </div>
                </div>
                
                <div direction="column" class="sc-1uudfj-0 iiTDbT">
                    <div class="sc-1b3hpd3-0 fJjbNk">
                        <div class="mg59vo-1 TbqpF" id="method" name="efectivo">
                            <label>
                            <input type="radio" name="method_payment" checked  value="Efectivo"/>
                            <span></span>
                            </label>
                        </div>
                        
                        <div class="mg59vo-0 cOEVZv">
                            <div id="offline_method_1" class="o9s9w5-0 jCAWyD">
                                <div class="n1aodw-0 knNvyY">Efectivo</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sc-1dfoxyf-0 cwvyqR sc-1dfoxyf-2 n18cvb-0 iNhRIx">
            <button  type="submit" class="sc-1y8jm7q-0 bDWbfv" id="select_payment_button" color="primary">Seleccionar</button>
        </div>
    </form>
</div>